# --- Core Backend ---
Flask==3.1.2
Flask-Cors==4.0.0
cachetools
gunicorn==21.2.0
python-dotenv==1.0.1
waitress==3.0.0
itsdangerous==2.2.0
Jinja2==3.1.6

# --- Database ---
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
Flask-SQLAlchemy
Flask-Migrate==4.1.0
PyJWT==2.8.0
alembic==1.18.3
greenlet==3.3.1

# --- ML / Statistical Inference ---
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.4.2

# --- API Client ---
requests==2.32.3
yahooquery
